a {
	transition: ease .3s;
}

.container {
	width: 100%;
	max-width: 1780px;
}

body {
	font-family: 'Gotham Pro';
    font-weight: 400;
    font-style: normal;
    color: #000;
}

.content {
	padding: 60px 0 100px;
}

.header .col.l8 {
	padding-left: 30px;
}

.header .col.l4 {
	padding-right: 30px;
}

.logo-wrapper {
	display: inline-block;
	vertical-align: middle;
	padding-right: 58px;
}

.title {
	font-family: 'Gotham Pro';
	font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

.subtitle {
	display: block;
	font-size: 42px;
}

.coca-color {
	color: #dd0a1c;
}

.space-between {
	justify-content: space-between;
}

.search {
	position: relative;
	width: 100%;
	margin-right: 20px;
}

.search.disabled {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
}

.content .search input {
    border: 2px #ddd solid;
    border-radius: 50px;
    padding-left: 55px;
    height: 45px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    max-width: 460px;
    width: 100%;
}

.content .search input:focus {
	border: 2px #dd0a1c solid !important;
	box-shadow: none !important;
}

.search .icon {
    background: url(../img/search.png) no-repeat;
    background-size: cover;
    width: 21px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    margin: auto;
}

.content .search input:focus + .icon {
	background: url(../img/search-active.png) no-repeat;
    background-size: cover;
}

.likes {
	max-width: 35px;
    width: 100%;
	height: 32px;
	background: url(../img/unlike.png) no-repeat;
	background-size: cover;
	cursor: pointer;
}

.likes.active {
	background: url(../img/like.png) no-repeat;
	background-size: cover;
}

.likes.disabled {
	pointer-events: none;
    opacity: 0.5;
}

.tags .col.s12 {
	padding: 0 30px;
}

.tags .button {
	height: 50px;
    color: #fff;
    display: inline-block;
    padding: 0 48px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 50px;
    margin: 20px;
}

.tags .button.active {
    transform: scale(1.1);
}

.button.cocacola {
	background: #f40000;
}

.button.adez {
	background: #8fd092;
}

.button.burn {
	background: #7d1807;
}

.button.schweppes {
	background: #000;
}

.button.dobriy {
	background: #4eb20b;
}

.tagline {
	font-size: 20px;
    text-align: center;
    margin: 0;
}

.tagline a {
	padding-right: 30px;
	display: inline-block;
    white-space: nowrap;
    color: #000;
}

.tagline a.coca-color {
	color: #dd0a1c;
}

.tagline a:last-child {
	padding-right: 0;
}

.recipes .recipe {
	padding: 30px 30px 25px;
}

/*.recipe:nth-child(1),
.recipe:nth-child(4) {
	padding-left: 0;
}

.recipe:nth-child(3),
.recipe:nth-child(6) {
	padding-right: 0;
}*/

.recipe-title {
	font-size: 24px;
	font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    line-height: 1;
    margin: 10px 0;
    max-width: 400px;
    width: 100%;
}

.settings {
    max-width: 125px;
    width: 100%;
}

.like {
	max-width: 24px;
    width: 100%;
	height: 22px;
	background: url(../img/unlike-min.png) no-repeat;
	background-size: cover;
	cursor: pointer;
}

.like.active {
	background: url(../img/like-min.png) no-repeat;
	background-size: cover;
}

.recipe-more {
    background: url(../img/recipe.png) no-repeat;
    background-size: cover;
    width: 39px;
    height: 10px;
    display: inline-block;
}

.recipe-more:hover {
	background: url(../img/recipe-active.png) no-repeat;
    background-size: cover;
}

.space-evenly {
	justify-content: space-evenly;
}

.custom-modal {
	width: 909px;
	max-height: 90%;
	-ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.custom-modal::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.custom-modal .modal-content {
	padding: 0;
}

.recipe .custom-modal .row {
	margin-left: auto;
    margin-right: auto;
}

.youtube-wrapper {
    max-height: 523px;
}

.youtube-wrapper.y-video {
	position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.youtube-wrapper.y-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.content-wrapper {
	/*padding: 0 40px 20px 0;*/
}

.share-wrapper {
    background: #f40000;
    color: #fff;
    height: 60px;
    padding: 0 20px 0 40px;
}

.share-title {
	font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    max-width: 670px;
    width: 100%;
    line-height: 1;
}

.share-link {
    max-width: 126px;
    width: 100%;
    max-height: 16px;
}

.recipe-content .ingredients-wrapper {
	padding-left: 40px;
}

.ingredients-title {
	font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    margin: 20px 0 10px;
}

.ingredients-content {
	font-size: 10px;
	font-weight: 500;
}

.ingredient {
	max-width: 140px;
	width: 100%;
	display: inline-block;
}

.recipe-content .cooking-wrapper {
	padding-right: 20px;
}

.cooking-title {
	font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    margin: 20px 0 10px;
}

.cooking-content {
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
    text-align: justify;
}

.share-modal {
    width: 580px;
    max-height: max-content;
}

.share-modal .modal-content {
    padding: 30px 60px;
}

.share-modal .modal-close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.share-modal-title {
	font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.social-wrapper {
	text-align: center;
}

.jcenter {
	justify-content: center;
}

.soc {
	margin: 30px 22px 50px;
	cursor: pointer;
}

.soc-name {
    font-size: 14px;
    color: #000;
}

.youtube-copy {
	border: 1px #000 solid;
	border-radius: 50px;
	width: 100%;
	height: 50px;
	padding: 0 20px 0 30px;
	line-height: 48px;
	position: relative;
}

.youtube-copy span {
	font-size: 16px;
    display: block;
    max-width: 330px;
}

.youtube-copy button {
	color: #f40000;
    -webkit-appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
}

.hide-search,
.hide-tags,
.hide-category,
.hide-likes {
	display: none;
}

.show {
	display: block !important;
}

@media screen and (max-width: 1366px) {
	.logo-wrapper {
		padding-right: 30px;
	}

	.title {
		font-size: 30px;
	}

	.subtitle {
	    font-size: 36px;
	}

	.recipe-title {
		font-size: 22px;
	}
}

@media screen and (max-width: 1280px) {
	.content {
		padding: 60px 0 10px;
	}

	.logo-wrapper {
		padding-right: 20px;
		max-width: 130px;
	}

	.title {
	    font-size: 28px;
	}

	.subtitle {
	    font-size: 34px;
	}

	.content .search input {
		font-size: 16px;
	}

	.tags .button {
		height: 46px;
		padding: 0 46px;
		font-size: 16px;
	    line-height: 46px;
    	margin: 20px 10px;
	}

	.tagline {
		font-size: 18px;
	}

	.recipe-title {
	    min-height: 44px;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	}
}

@media screen and (max-width: 1100px) {
	.logo-wrapper {
		padding-right: 15px;
		max-width: 120px;
	}

	.title {
	    font-size: 24px;
	}

	.subtitle {
	    font-size: 29px;
	}

	.content .search input {
	    padding-left: 50px;
	    height: 40px;
	}

	.search .icon {
	    width: 18px;
	    height: 21px;
	}
}

@media screen and (max-width: 992px) {
	.header .valign-wrapper {
		display: block;
	}

	.header .col.l8 {
		padding-right: 30px;
	}

	.header .col.l4 {
	    padding-left: 30px;
	}

	.search {
        margin: 20px 0 0 110px;
    	max-width: 390px;
	}

	.likes {
		background-size: cover;
		position: absolute;
		top: 95px;
		right: 30px;
	}

	.tags .button {
		margin: 10px;
	}

	.tagline {
		margin-top: 10px;
	}

	.custom-modal {
		width: 90%;
		top: 5% !important;
    	max-height: 95%;
	}

	.recipe-content .ingredients-wrapper {
		padding-right: 20px;
	}

	.recipe-content .cooking-wrapper {
		padding-left: 40px;
	}

	.ingredients-content {
		display: inline-block;
		width: 49%;
		margin: 5px 0;
	}
}

@media screen and (max-width: 768px) {
	.header .col.l8 {
		padding-right: 20px;
	}

	.logo-wrapper {
	    padding-right: 10px;
	    max-width: 100px;
	}

	.title {
	    font-size: 20px;
	}

	.subtitle {
	    font-size: 24px;
	}

	.header .col.l4 {
	    padding-left: 20px;
	}

	.likes {
	    max-width: 30px;
	    height: 27px;
	    right: 20px;
	}

	.tags .col.s12 {
		padding: 0 20px;
	}

	.tags .button {
	    height: 40px;
	    padding: 0 28px;
	    line-height: 40px;
	}

	.tagline {
		font-size: 16px;
	}

	.recipes .recipe {
		padding: 20px;
	}

	.recipe-title {
		font-size: 20px;
	}
}

@media screen and (max-width: 600px) {
	.logo-wrapper {
	    max-width: 90px;
	}

	.title {
	    font-size: 18px;
	}

	.subtitle {
	    font-size: 22px;
	}

	.search {
	    margin: 10px 0 0 100px;
	    max-width: 360px;
	}

	.content .search input {
		font-size: 14px;
	}

	.likes {
		top: 90px;
	}

	.tags .button {
		font-size: 14px;
	}

	.tagline a {
		padding-right: 20px;
	}

	.recipe-img {
		width: 100%;
	}

	.share-title {
		font-size: 18px;
	}

	.share-modal {
		width: 80%;
	}

	.soc {
	    margin: 30px 22px 30px;
	    max-width: 60px;
	}

	.youtube-copy {
	    height: 40px;
	    padding: 0 15px 0 20px;
	    line-height: 38px;
	}

	.youtube-copy span {
		font-size: 14px;
		max-width: 70%;
	}

	.youtube-copy button {
		right: 15px;
	}
}

@media screen and (max-width: 540px) {
	.logo-wrapper {
	    max-width: 70px;
	}

	.title {
	    font-size: 15px;
	}

	.subtitle {
	    font-size: 18px;
	}

	.search {
	    margin: 10px 0 0 80px;
	    max-width: 300px;
	}

	.likes {
	    max-width: 20px;
	    height: 18px;
        top: 85px;
	}
}

@media screen and (max-width: 445px) {
	.content {
	    padding: 30px 0 0;
	}

	.header .col.l8 {
	    padding-right: 15px;
	    padding-left: 15px;
	}

	.header .col.l4 {
	    padding-right: 15px;
	    padding-left: 15px;
	}

	.logo-wrapper {
	    max-width: 44px;
	    padding-right: 5px;
	}

	.title {
	    font-size: 10px;
	}

	.subtitle {
	    font-size: 12px;
	}

	.search {
	    margin: 10px 0 0 45px;
	    max-width: 200px;
	}

	.content .search input {
		border: 1px #ddd solid;
		font-size: 12px;
	    height: 20px;
	    padding-left: 30px;
	}

	.search .icon {
	    width: 10px;
	    height: 12px;
	    left: 10px;
	}

	.likes {
	    max-width: 19px;
	    height: 17px;
	    top: 45px;
	    right: 15px;
	}

	.tags .button {
	    font-size: 12px;
	    height: 26px;
	    line-height: 26px;
	    padding: 0 20px;
        margin: 3px;
	}

	.tagline {
		font-size: 10px;
	}

	.tags .row {
		margin-bottom: 0;
	}

	.recipes .recipe {
	    padding: 15px;
	}

	.recipe-title {
		font-size: 14px;
	    min-height: auto;
	}

	.settings {
		max-width: 75px;
	}

	.like {
	    max-width: 13px;
	    height: 12px;
	}

	.recipe-more {
	    width: 21px;
	    height: 5px;
	}

	.share-wrapper {
	    padding: 0 15px 0 20px;
	    height: 26px;
	}

	.share-title {
		font-size: 12px;
	}

	.custom-modal {
		max-height: 90%;
	}

	.share-link {
		max-width: 90px;
	    max-height: 12px;	
	}

	.recipe-content .ingredients-wrapper,
	.recipe-content .cooking-wrapper {
		padding-left: 20px;
		padding-right: 15px;
	}

	.ingredients-title {
		font-size: 15px;
	}

	.ingredients-content {
	    font-size: 8px;
	}

	.ingredient {
	    max-width: 70px;
	    vertical-align: middle;
	}

	.cooking-content {
		line-height: 16px;
	}

	.share-modal .modal-content {
	    padding: 15px 30px 25px;
	}

	.share-modal .modal-close {
	    top: 5px;
	    right: 10px;
	    width: 10px;
	}

	.soc {
	    margin: 10px 10px 20px;
	    max-width: 55px;
	}

	.soc-name {
	    font-size: 10px;
	}

	.youtube-copy {
	    height: 26px;
	    padding: 0 10px 0 15px;
	    line-height: 24px;
	}

	.youtube-copy span {
	    font-size: 10px;
	    max-width: 60%;
	}

	.youtube-copy button {
	    right: 10px;
	    font-size: 8px;
	}
}